/* Author: Tiger3018 CC 4.0 BY-SA */
/* 标题栏 */
.am-sticky {
	top: 50px !important;
    z-index: 101;
}
/* 评测/标签/除复制模块hover动画 参照 @ abc2237512422 */

.lg-record-tile{
    transition:all 0.4s cubic-bezier(.215,.61,.355,1);
}
.lg-record-tile:hover{
    box-shadow: 0 1px 8px rgba(0,0,0,0.35);
    min-width: 10px;
    transform:scale(1.08);
/*  cursor: unset;试炼场cursor*/
}
.case-tile.lg-bg-bluelight {
    cursor: wait;
}
.case-tile.lg-bg-red, .case-tile.lg-bg-bluedark, .case-tile.lg-bg-purple{
    cursor: help;
}
.case-tile.lg-bg-green {
    cursor: default;
}

.record-status, .am-badge.am-radius, .lg-mcard {
    transition:all 0.2s cubic-bezier(.215,.61,.355,1);
}
.record-status:hover {
    box-shadow: 0 1px 3px rgba(0,0,0,0.35);
    min-width: 10px;
    transform:scale(1.02);
}
.am-badge.am-radius:hover:not(.sample-copy), .lg-mcard:hover {
    box-shadow: 0 1px 3px rgba(0,0,0,0.35);
    min-width: 10px;
    transform:scale(1.08);
}
.am-radius:not(.lg-tag):not(.lg-pointer):not(.am-radius){
    cursor: default;
}
/*strong:hover .lg-fg-black,.lg-fg-orange,.lg-fg-green{
    cursor: default;
    transition:all 0.2s cubic-bezier(.215,.61,.355,1);
    transform:scale(1.08);
}*/

/* 进程条流畅动画 */

@-webkit-keyframes progress {
    0% {
        transform: scale(0,1);
  /*    width: 0%;*/
    }
    
    100% {
        transform: scale(1,1);
  /*    width: var(div.width);*/
    }
}
.am-progress-bar {
    transform-origin: left top;
    animation: progress .6s ease-in-out backwards;
/*  transition: width .6s ease-in-out;*/
}

/* 评测记录 宽度 */
.lg-right > .am-panel > div.am-input-group {
    width: 100%;
}
.lg-right > .am-panel > div.am-input-group > span.am-input-group-label {
    width: 42.9px;
}

/* 团队 */
.lg-mcard {
    border-radius: 0;
    border: none;
}
.lg-mcard-realname {
    background-color: #e9eaec;
    color: #5f5f5f;
}

/* 算法标签 */
jmnode {
    transition:all 0.2s cubic-bezier(.215,.61,.355,1);
}
jmnode:hover {
    transform:scale(1.03);
}

/* nprogress */
.nprogress-peg, .nprogress-spinner {
    display: none !important;
}
#nprogress .nprogress-bar {
    height: 5px;
    transition: all .2s cubic-bezier(.08,.82,.17,1) .2s !important;
}

